# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345
DB_NAME=cine_tix

# JWT Authentication
JWT_SECRET=your-secret-key-here-generate-random-string
JWT_EXPIRES_IN=7d

# Server
APP_PORT=3000
NODE_ENV=development

# Database URL (Prisma)
DATABASE_URL="postgresql://postgres:12345@localhost:5432/cine_tix"

# Frontend
FRONTEND_URL=http://localhost:5173
